#edit-section {
    display: flex;
    flex-direction: column;
}
.post-create-meta-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    height: 5rem;
    margin: 1rem 0;
}
.post-create-meta-input {
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.post-create-meta-input input[type="text"] {
    outline: none;
    padding: 0.5rem;
    font-size: 0.8rem;
    background-color: var(--primaryGray-300);
    color: var(--primaryGray-800);
    border: 1px solid var(--primaryGray-500);
    transition: all .2s ease-out;
}
.post-create-meta-input input[type="text"]:focus {
    color: var(--primaryGray-900);
	background-color: var(--primaryGray-200);
	border: 1px solid var(--deepBlue);
}
.marky-mark {
    padding: 0;
    margin: 0;
}
.marky-toolbar {
    margin: 0;
}
.marky-toolbar button {
    font-size: 0.5rem;
    margin: 0;
    padding: 0.25rem 0.5rem;
    border: none;
    border-radius: 0;
    background-color: #fff;
    color: var(--primaryGray-800);
}
.marky-toolbar button:hover {
    background-color: var(--primaryGray-200);
    color: var(--deepBlue-700);
}
.marky-editor {
    margin: 0;
    width: 100%;
    resize: none;
    height: 60vmin;
    font-size: 0.8rem;
}
.post-create-control {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 1rem 0;
}
/* .post-create-control button {
    border: none;
    font-size: 0.8rem;
    padding: 0.25rem 0.5rem;
    margin-left: 1rem;
    transition: all .2s ease-out;
    color: var(--primaryGray-900);
}
.post-publish-button {
    background-color: var(--fireTruck-300);
}
.post-publish-button:hover {
    background-color: var(--fireTruck-400);
    color: var(--primaryGray-300);
}
.post-draft-button {
    background-color: var(--deepBlue-300);
}
.post-draft-button:hover {
    background-color: var(--deepBlue-400);
    color: var(--primaryGray-300);
} */