/* ~ Style imports ~ */
/* External fonts and icons */
/* Todo: replace font-awesome with local svg */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');
/* per-page stylesheets are named the same as the page they style */
/* i.e: create.html is styled by create.css */
@import url('/public/css/home.css');
@import url('/public/css/about.css');
@import url('/public/css/resources.css');
@import url('/public/css/create.css');
@import url('/public/css/marky.css');
@import url('/public/css/header.css');

/* ~ Global Styles ~ */
* {
    --primary-gray: #282828;
    --light-gray: #919191;
	--orchid: orchid;
	--deepBlue: #00b0ff;
    --fireTruck: #e84d49;
	--boxShadowA: rgba(0, 0, 0, 0.3);
    --boxShadowB: rgba(0, 0, 0, 0.22);
    --inputbg: #f6f6f6;
    --focusbg: #f9f9f9;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    font-family: 'Mulish', sans-serif;
    font-size: 24px;
    color: var(--primary-gray);
}
main {
    display: grid;
    margin: 0;
    padding: 1rem;
    grid-template-columns: repeat(12,  1fr);
}
@media(min-width: 1360px) {
    main {
        width: 70%;
        gap: 3rem;
    }
}
@media (min-width: 764px) and (max-width: 1359px) {
    main {
        width: 80%;
        gap: 1rem;
    }
}
@media (max-width: 763px) {
    main {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}
nav {
    /* margin: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    letter-spacing: 0.15em;
    line-height: 1.75rem;
}
nav a {
    color: var(--primary-gray);
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
.sidebar {
    grid-column: 1/4;
    text-align: right;
}
.header-logo svg, .header-logo img {
  height: 2rem;
  width: auto;
}
header {
    padding: 0;
    margin: 0;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.header-logo {
  text-align: right;
}
svg {
  color: #282828;
}
.tagline {
	font-size: 1.25rem;
	text-decoration: none;
  color: #282828;
  font-family: 'Quicksand', sans-serif;
}
.content-section {
    grid-column: 4/13;
    margin: 2rem 0;
}