/* ~ Style imports ~ */
/* External fonts and icons */
/* Todo: replace font-awesome with local svg */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');
@import url('https://use.fontawesome.com/releases/v5.14.0/css/all.css');
/* per-page stylesheets are named the same as the page they style */
/* i.e: create.html is styled by create.css */
@import url('/public/css/home.css');
@import url('/public/css/post.css');
@import url('/public/css/about.css');
@import url('/public/css/resources.css');
@import url('/public/css/create.css');
@import url('/public/css/marky.css');
@import url('/public/css/prism-material-light.css');
@import url('/public/css/header.css');

/* ~ Global Styles ~ */
:root {
	--boxShadowA: rgba(0, 0, 0, 0.3);
    --boxShadowB: rgba(0, 0, 0, 0.22);
    --primaryGray: #f9f9f9;
    --primaryGray-100: #FCFCFC;
    --primaryGray-200: #F7F7F7;
    --primaryGray-300: #F3F3F3;
    --primaryGray-400: #E9E9E9;
    --primaryGray-500: #E0E0E0;
    --primaryGray-600: #CACACA;
    --primaryGray-700: #868686;
    --primaryGray-800: #656565;
    --primaryGray-900: #434343;

    --darkGray: #282828;
    --darkGray-100: #EAEAEA;
    --darkGray-200: #C9C9C9;
    --darkGray-300: #A9A9A9;
    --darkGray-400: #696969;
    --darkGray-500: #282828;
    --darkGray-600: #242424;
    --darkGray-700: #181818;
    --darkGray-800: #121212;
    --darkGray-900: #0C0C0C;

    --fireTruck: #e84d49;
    --fireTruck-100: #FDEDED;
    --fireTruck-200: #F9D3D2;
    --fireTruck-300: #F6B8B6;
    --fireTruck-400: #EF8280;
    --fireTruck-500: #E84D49;
    --fireTruck-600: #D14542;
    --fireTruck-700: #8B2E2C;
    --fireTruck-800: #682321;
    --fireTruck-900: #461716;

	--deepBlue: #00b0ff;
    --deepBlue-100: #E6F7FF;
    --deepBlue-200: #BFEBFF;
    --deepBlue-300: #99DFFF;
    --deepBlue-400: #4DC8FF;
    --deepBlue-500: #00B0FF;
    --deepBlue-600: #009EE6;
    --deepBlue-700: #006A99;
    --deepBlue-800: #004F73;
    --deepBlue-900: #00354D;
    }
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    font-family: 'Mulish', sans-serif;
    font-size: 24px;
    color: var(--darkGray);
}
main {
    display: grid;
    margin: 0;
    padding: 1rem;
    grid-template-columns: repeat(12,  1fr);
}
@media(min-width: 1360px) {
    main {
        width: 70%;
        gap: 3rem;
    }
}
@media (min-width: 764px) and (max-width: 1359px) {
    main {
        width: 80%;
        gap: 1rem;
    }
}
@media (max-width: 763px) {
    main {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

.sidebar {
    grid-column: 1/4;
    text-align: right;
}
.header-logo svg, .header-logo img {
  height: 2rem;
  width: auto;
}
.tagline {
	font-size: 1.25rem;
	text-decoration: none;
  color: var(--darkGray);
  font-family: 'Quicksand', sans-serif;
}
nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    letter-spacing: 0.15em;
    line-height: 1.75rem;
    margin: 0.5rem 0;
}
nav a {
    color: var(--darkGray);
}
.content-section {
    grid-column: 4/13;
    margin: 2rem 0;
}

/* Text styles */
a, h2 a, p a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}
button {
    border: none;
    padding: 0.25rem 0.5rem;
    margin-left: 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all .2s ease-out;
    color: var(--primaryGray-200);
}