<% extends("/index.html") %>
<style>
  #about-section {
    display: flex;
    flex-direction: column;
  }

  #about-content p {
    margin: 1.5rem 0 0 0;
  }

  html {
    visibility: visible;
    opacity: 1;
  }
</style>
<section id="about-section" class="showHide animate__animated animate__fadeInRight">
  <h2>About</h2>
  <section id="about-content">
    <p>I'm Jeff Caldwell, a newcomer to web development who started learning about a year ago (sometime in September of
      2019).</p>
    <p>Actually, over the past twenty years I've dabbled in various parts of web design and development but didn't ever
      make a serious and concerted effort at learning until this last year. One thing that I enjoyed about learning all
      those years ago was the simplicity of making things for the web. If you wanted to show people a page all you had
      to do was create the page, include the links to your styles and scripts, and you were up and running.</p>
    <p>My first site was a portfolio of my drawings and sketches and the first time I saw my own work on a computer
      screen I was amazed at my own ability to create and share something with the world online. Adding interactivity to
      the front-end was usually a matter of adding a little JavaScript to achieve things that weren't built-in to HTML.
    </p>
    <p>Now, 20 years later, approaching the front-end is a much more complicated and daunting affair for newcomers. At
      least, that is, if you follow the latest practices in front-end development.</p>
  </section>
</section>