<% extends("/index.html") %>
<script src="/public/js/create.js" type="module"></script>

<section id="edit-section">
  <h2>Create Post</h2>
  <section class="post-create-meta-section">
    <section class="post-create-meta-input">
      <input type="text" name="title" id="title" placeholder="Title">
      <input type="text" name="subtitle" id="subtitle" placeholder="Subtitle">
      <textarea id="excerpt" placeholder="Post introduction or excerpt" maxlength="250"></textarea>
    </section>
    <b-dropzone></b-dropzone>
  </section>
  <section class="markdown-input"></section>
  <!-- <section class="post-create-control">
    <button class="post-draft-button">Save Draft</button>
    <button class="post-publish-button">Publish</button>
  </section> -->
</section>