<% extends("/index.html") %>
<script src="/public/js/create.js" type="module"></script>

<section id="edit-section">
  <h2>New Post</h2>
  <section class="post-create-meta-section">
    <section class="post-create-meta-input">
      <input type="text" name="title" id="title" placeholder="Title">
      <input type="text" name="subtitle" id="subtitle" placeholder="Subtitle">
    </section>
    <b-dropzone></b-dropzone>
    <!-- <ld-dropzone></ld-dropzone> -->
  </section>
  <section class="markdown-input"></section>
</section>