<% extends("/index.html") %>
<script src="/public/js/edit.js" type="module"></script>
<script src="/public/js/image_upload.js" type="module"></script>

<section id="edit-section" class="showHide animate__animated animate__fadeInRight">
  <h2>Edit Post</h2>
  <section class="post-create-meta-section">
    <section class="post-create-meta-input">
      <input type="text" name="title" id="title" value="<% post.title %>">
      <input type="text" name="subtitle" id="subtitle" value="<% post.subtitle %>">
      <textarea id="excerpt" maxlength="250"><% post.excerpt %></textarea>
    </section>
    <section id="image-upload-section" style="background-image: url('<% post.featured_image %>')">
      <p class="image-upload-paragraph">Drag or click to upload featured image.</p>
      <input type="file" name="featured-image" id="featured-image" accept="image/*">
    </section>
  </section>
  <section id="message-section">
    <span class="update-message">Updating...</span>
    <span class="publish-date">Published:<% post.created_at %> </span>
    <span class="update-date">Updated: <% post.updated_at %></span>
    <a href="/<% post.slug %>">View post</a>
  </section>
  <section class="markdown-input" data-content="<% post.content %>" animate__animated animate__fadeInUp></section>
  <section class="post-create-secondary-control">
    <button class="post-draft-secondary-button" data-postid="<% post.id %>">Draft</button>
    <button class="post-publish-secondary-button" data-postid="<% post.id %>">Update</button>
  </section>
</section>