<% extends("/index.html") %>

<section id="post-section">
  <section class="post-header">
    <% if(post.featured_image) { %>
    <section class="post-featured-image" style="background-image: url('<% post.featured_image %>')"
      title=" <% post.title %>">
    </section>
    <% } %>

    <h2 class="post-title"><% post.title %></h2>

    <% if(post.subtitle) { %>
    <h3 class="post-subtitle"><% post.subtitle %></h3>
    <% } %>

    <p class="post-date"><% post.publish_date_string %></p>
  </section>
  <section class="post-control-section">
    <a class="button post-edit-button" href="/edit/<% post.id %>">Edit</a>
    <button class="post-revert-button" data-postid="<% post.id %>">Draft</button>
    <button class="post-delete-button" data-postid="<% post.id %>">Delete</button>
  </section>
  <section class="post-body">
    <% post.content %>
  </section>
</section>

<script src="/public/js/prism.js"></script>
<script src="/public/js/post.js"></script>