<% extends("/index.html") %>

<style>
  #resources-section {
    display: flex;
    flex-direction: column;
  }

  html {
    visibility: visible;
    opacity: 1;
  }
</style>
<section id="resources-section" class="showHide slide-in-rightt">
  <h2>Resources</h2>
  <!-- <div x-data="{open: false}">
    <button @click="open = true">Open</button>
    <div class="showHide" x-cloak x-show="open"
      x-transition:enter="animate__animated animate__slideInRight animate__fadeInRight"
      x-transition:leave="animate__animated animate__fadeOutRight" @click.away="open = false">
      This is a show/hide div
    </div> -->
  </div>
</section>