<style>
  nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    letter-spacing: 0.15em;
    line-height: 1.75rem;
    margin: 1rem 0;
  }

  nav a {
    color: var(--darkGray);
  }

  @media (max-width: 500px) {
    nav {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 2rem 0 0 0;
      padding: 0.5rem 0;
      border-top: 1px solid var(--darkGray);
      border-bottom: 1px solid var(--darkGray);
    }
  }
</style>
<nav>
  <a href="/">Posts</a>
  <a href="/about">About</a>
  <a href="/resources">Resources</a>
</nav>